@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 68px;
  transition: all 0s ease;
  position: absolute;
  height: 78%;
  width: 100%;
  overflow: auto;
  top: 32px;
}

.sideBar {
  height: 1060px;
  width: 280px;
}

.appExpand {
  /* transform: translate3d(-22%,0,0);
  transition: all 0s ease; */
  position: absolute;
  left: -20%;
  width: 120%;
}

.MuiTableCell-alignRight {
  text-align: left !important;
}

.MuiSimpleToolTip-wrapper {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;

}

/* .dropdown-menu[data-bs-popper] {
  right: 0;
  left: auto;
} */

.MuiInputBase-input {
  line-height: 22px !important;
}

.active.page-item a {
  background-color: #007bff !important;
  color: #fff !important;
}